.mat-mdc-card-footer {
  padding: 16px;
}

.mat-mdc-card-header {
  display: block;
  margin-bottom: 16px;
}

.mat-mdc-card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}